<%- include("partials/header.ejs") %>

<h1>Create Blog</h1>
<form action="/submit" method="POST">
    <label for="">Blog</label>
    <input type="text" name="blog">
    <label for="">Author</label>
    <input type="text" name="author">
    <input type="submit" value="CREATE">
</form>