<%- include("partials/header.ejs") %>

<ul>
    <% blogPosts.forEach(post => { %>
    <li>
        <p>Title: <%= post.post%></p>
    </li>
    <li>
        <p>Author: <%= post.author%></p>
    </li>
    <li>
        <button value="/edit">Edit</button>
        <button value="/delete">Delete</button>
    </li>
    <% }); %>
</ul>